$font-family: 'Rubik';
$fontS: 16px;
$c: center;
*{
    box-sizing: border-box;
    font-family: $font-family;
    font-style: normal;
}
html,
body {
  position: relative;
  height: 100%;
}
a {
    text-decoration: none;
    color: #4F5665;
}
nav {
    display:flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.miniFrCase,.listCase {
    display: flex;
    flex-direction: row;
    align-items: $c;
}
.listCase{
    font-weight: 400;
    font-size: $fontS;
    line-height: 19px;
    color: #4F5665;

    .li {
        padding-left: 30px;
    }
}
.dropdown {
    display: none;
}
.Navtext {
    font-weight: 500;
    font-size: $fontS;
    line-height: 19px;
    color: #0B132A;
}
.btnHead {
    font-weight: 500;
    border: 1px solid #F53855;
    background-color: #fff;
    border-radius: 50px;
    color:#F53855;
    width: 150px;
    height: 35px;
    margin-left: 25px;
}
.btnSect {
    background-color: #F53855;
    color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 10px #F53855;
} 
.img {
    padding-right: 5px;
}
.block,.midBlock{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 380px;
    max-height: 200px;
    height: 180px;

}
.allBlocks {
    display: flex;
    flex-direction: row;
}
.secondBlock {
    margin-left:50px;
}
.imgGroup {
    max-width: 55px;
    max-height: 55px;
}
.colorSect {
    background-color: #F6F6F6;
}
.footer {
    background: #F8F8F8;
}
.sectImg {
    max-width: 180px;
    max-height: 64px;
}
.selfImg {
    max-height: 80px;
}
.groupTxt {
    padding-left: 40px;
}

.slideImg {
    max-width: 50px;
    max-height: 51px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.card {
    position:relative;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px){
    .dropdown {
        display: block;
    }
    .miniFrCase {
        display: none;
    }
    .listCase {
        display: none;
    }
    .allBlocks {
        flex-direction: column;
        .firstImg{
            max-width: 360px;
            max-height: 320px;
        }
        .secondBlock {
            margin: 0;
            padding: 0;
        }
    }
    .groupTxt {
        padding-left: 10px;
    }
}